@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

[data-page="about"] {
  .about {
    position: relative;
    padding: responsiveClamp(120, 152, 375, 1280) responsiveClamp(32, 144, 375, 1280) responsiveClamp(144, 200, 375, 1280);

    &__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $gray;
      z-index: 1;
    }

    &__title {
      @include title;
      margin-bottom: remCalc(40);

      @include mq(md) {
        margin-bottom: responsiveClamp(56, 64, 375, 768);
      }
    }

    &__wrapper {
      position: relative;
      display: flex;
      justify-content: flex-start;
      column-gap: responsiveClamp(120, 280, 768, 1280);
      z-index: 2;

      @include mq(md) {
        column-gap: 0;
      }

      &__nav {
        padding: remCalc(32) 0 0 responsiveClamp(0, 64, 768, 1280);
        height: 100%;

        @include mq(lg) {
          padding: 0;
        }

        @include mq(md) {
          display: none;
        }

        &__list {
          position: sticky;
          display: flex;
          flex-direction: column;
          row-gap: remCalc(24);
          top: remCalc(240);

          a {
            position: relative;
            display: block;
            font-family: $jp;
            font-size: responsiveClamp(14, 16, 768, 1280);
            font-weight: 500;
            transition: all 0.3s $ease1;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              right: remCalc(-72);
              width: remCalc(48);
              height: 1px;
              background-color: $green;
              scale: 0 1;
              translate: 0 -50%;
              transform-origin: right top;
              transition: scale 0.3s $ease1;

              @include mq(lg) {
                right: remCalc(-56);
                width: remCalc(40);
              }
            }

            &:hover {
              color: $green;

              &::before {
                scale: 1 1;
                transform-origin: left top;
              }
            }
          }

          .current {
            a {
              color: $green;

              &::before {
                scale: 1 1;
              }
            }
          }
        }
      }

      &__hero {
        margin-bottom: responsiveClamp(96, 200, 375, 1280);

        &__en {
          font-family: $en;
          font-size: responsiveClamp(14, 16, 375, 1280);
          font-weight: 500;
          line-height: 1.5;
          text-transform: capitalize;
        }

        &__copy {
          margin-bottom: responsiveClamp(40, 64, 375, 1280);
          font-family: $jp;
          font-size: responsiveClamp(40, 64, 375, 1280);
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 0.08em;

          @media (width < 1400px) {
            .spOnly {
              display: block;
            }
          }
        }

        &__text {
          font-family: $jp;
          font-size: responsiveClamp(13, 16, 375, 1280);
          line-height: 2.25;
          white-space: wrap;
        }
      }

      &__philosophy {
        scroll-margin-top: remCalc(100);
        margin-bottom: responsiveClamp(64, 100, 375, 1280);

        &__title {
          @include smallTitle;
        }

        &__container {
          &__en {
            margin-bottom: remCalc(8);
            font-family: $en;
            font-size: remCalc(12);
            font-weight: 500;
            text-transform: capitalize;
          }

          &__inner {
            margin: 0 0 remCalc(56) responsiveClamp(40, 56, 375, 1280);
            ;

            &__number {
              color: $green;
              font-family: $en;
              font-size: remCalc(12);
              font-weight: 600;
              line-height: 1;
            }

            &__copy {
              margin-bottom: remCalc(16);
              font-family: $jp;
              font-size: responsiveClamp(22, 28, 375, 1280);
              font-weight: 500;

              @include mq(sm) {
                .spOnly {
                  display: block;
                }
              }
            }

            &__text {
              margin-left: remCalc(4);
              font-family: $jp;
              font-size: responsiveClamp(12, 16, 375, 1280);
              white-space: wrap;

              @include mq(lg) {
                white-space: wrap;
              }
            }
          }

          &.vision {
            margin-bottom: responsiveClamp(64, 80, 375, 1280);
          }

          &.value {
            .about__wrapper__philosophy__container__inner__copy {
              margin-bottom: remCalc(8);
              line-height: 1.5;
            }
          }
        }
      }

      &__member {
        padding: responsiveClamp(64, 100, 375, 1280) 0;

        &__title {
          @include smallTitle;
        }

        &__container {
          position: relative;
          display: flex;
          flex-direction: row-reverse;
          column-gap: responsiveClamp(32, 48, 768, 1280);
          width: 100%;

          &:not(:last-child) {
            margin-bottom: responsiveClamp(80, 120, 375, 1280);
          }

          &__img {
            width: calc(100%/2);
            height: remCalc(432);

            @include mq(lg) {
              height: remCalc(456);
            }

            @include mq(md) {
              position: absolute;
              top: 0;
              right: remCalc(8);
              width: 60%;
              height: 100%;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include mq(md) {
              position: sticky;
              top: 0;
            }
          }

          &__inner {
            position: relative;
            width: calc(100%/2);
            padding-top: remCalc(24);

            @include mq(md) {
              width: 100%;
              background-color: rgba($color: $gray, $alpha: 0.7);
            }

            &__post {
              font-family: $jp;
              font-size: responsiveClamp(12, 14, 768, 1280);
              font-weight: 500;
            }

            &__name {
              display: flex;
              flex-direction: column;
              margin: remCalc(40) 0 remCalc(24);

              &__en {
                font-family: $en;
                font-size: remCalc(12);
                font-weight: 500;
                line-height: 1.5;
              }

              &__jp {
                font-family: $jp;
                font-size: remCalc(32);
                font-weight: 500;
                line-height: 1.5;
              }
            }

            &__text {
              width: 100%;
              font-family: $jp;
              font-size: responsiveClamp(12, 14, 375, 1280);
              white-space: wrap;
              text-align: justify;
            }
          }
        }
      }

      &__profile {
        padding-top: responsiveClamp(64, 100, 375, 1280);

        &__title {
          @include smallTitle;
        }

        &__list {
          display: flex;
          flex-direction: column;
          row-gap: remCalc(24);

          &__item {
            display: flex;
            column-gap: responsiveClamp(64, 136, 768, 1280);
            padding-bottom: remCalc(24);
            border-bottom: 1px rgba($color: $black, $alpha: 0.2) solid;
            font-family: $jp;
            font-size: responsiveClamp(13, 14, 375, 1280);

            @include mq(sm) {
              column-gap: responsiveClamp(16, 64, 375, 768);
            }

            dt {
              font-weight: 400;
              opacity: 0.5;

              @include mq(lg) {
                .spOnly {
                  display: block;
                }
              }
            }

            dd {
              @include mq(sm) {
                .spOnly {
                  display: block;
                }

                &.center {
                  align-self: center;
                }
              }
            }
          }
        }

        iframe {
          width: 100%;
          height: responsiveClamp(240, 352, 768, 1280);
          margin-top: responsiveClamp(56, 72, 768, 1280);
          filter: grayscale(1);
        }
      }
    }

    &__breadcrumbs {
      @include breadcrumbs;
      position: absolute;
      top: responsiveClamp(120, 152, 375, 1280);
      right: responsiveClamp(24, 32, 640, 1280);
      margin: 0;
      rotate: 90deg;
    }
  }
}
