@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

[data-page="news"] {
  .news {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: remCalc(152) remCalc(144) 0;

    &__list {
      li:nth-child(n+4) {
        display: block;
      }

      &__item {
        &__category {
          margin-left: remCalc(96);
        }
      }
    }

    &__breadcrumbs {
      @include breadcrumbs;
      position: absolute;
      top: remCalc(152);
      right: remCalc(32);
      margin: 0;
      rotate: 90deg;
    }
  }
}
