@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

[data-page="news"] {
  .news {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: responsiveClamp(120, 152, 375, 1280) responsiveClamp(32, 144, 375, 1280) 0;

    &__list {
      li:nth-child(n+4) {
        display: block;
      }

      &__item {
        &__category {
          margin-left: remCalc(48);

          @include mq(lg) {
            margin-left: 0;
          }
        }
      }
    }

    &__breadcrumbs {
      @include breadcrumbs;
      position: absolute;
      top: responsiveClamp(120, 152, 375, 1280);
      right: responsiveClamp(24, 32, 640, 1280);
      margin: 0;
      rotate: 90deg;
    }
  }
}
