@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

.newsArticle {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: remCalc(200);
  padding: remCalc(152) remCalc(144) 0;
  font-family: $jp;

  &__title {
    font-size: remCalc(40);
    font-weight: 700;
  }

  &__detail {
    display: flex;
    column-gap: remCalc(42);
    margin: remCalc(16) 0 remCalc(64);
    font-family: $en;
    font-size: remCalc(14);
    font-weight: 500;
  }

  &__img {
    margin-bottom: remCalc(48);
  }

  &__text {
    font-size: remCalc(16);
  }

  &__subheading {
    margin: 0 0 remCalc(16) remCalc(64);
    font-size: remCalc(32);
    font-weight: 700;
  }

  &__promotion {
    margin: 0 0 remCalc(48) remCalc(64);
    font-size: remCalc(14);
  }

  &__content {
    margin: 0 0 remCalc(48) remCalc(64);

    &__title {
      margin-bottom: remCalc(12);
      font-size: remCalc(24);
      font-weight: 500;
    }

    &__text {
      margin-top: remCalc(8);
      font-size: remCalc(14);
    }

    &__list {
      margin-left: remCalc(20);
      font-size: remCalc(16);
      font-weight: 500;
      list-style: disc;
    }

    &__teacher {
      font-size: remCalc(16);
    }

    &__information {
      display: flex;
      flex-direction: column;
      row-gap: remCalc(4);
      margin-top: remCalc(24);
      font-size: remCalc(16);

      &__item {
        display: flex;

        dt {
          font-weight: 400;
        }
      }
    }
  }

  &__hold {
    display: flex;
    flex-direction: column;
    row-gap: remCalc(16);
    margin: 0 0 remCalc(48) remCalc(64);
    font-size: remCalc(14);

    dt {
      font-weight: 500;
    }
  }

  &__btn {
    @include btn;
    margin-left: remCalc(64);
    padding: remCalc(24) remCalc(120);
    font-size: remCalc(24);
  }

  &__share {
    margin: remCalc(48) 0 0 remCalc(64);
    width: fit-content;

    dt {
      margin-bottom: remCalc(16);
      font-size: remCalc(14);
      font-weight: 500;
    }

    dd {
      display: flex;
      justify-content: center;
      column-gap: remCalc(32);

      a {
        width: remCalc(24);
        height: remCalc(24);
        transition: all 0.3s $ease1;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  &__breadcrumbs {
    @include breadcrumbs;
  }
}
