@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

[data-page="service"] {
  .service {
    display: block;
    gap: 0;
    margin: 0;

    position: relative;
    padding: responsiveClamp(120, 152, 375, 1280) responsiveClamp(32, 144, 375, 1280) responsiveClamp(144, 200, 375, 1280);

    &__title {
      @include title;
      margin-bottom: remCalc(40);

      @include mq(md) {
        margin-bottom: responsiveClamp(56, 64, 375, 768);
      }
    }

    &__wrapper {
      display: flex;
      justify-content: flex-start;
      column-gap: responsiveClamp(120, 280, 768, 1280);

      @include mq(md) {
        column-gap: 0;
      }

      &__nav {
        padding: remCalc(32) 0 0 responsiveClamp(0, 64, 768, 1280);
        height: 100%;

        @include mq(lg) {
          padding: 0;
        }

        @include mq(md) {
          display: none;
        }

        &__list {
          position: sticky;
          display: flex;
          flex-direction: column;
          row-gap: remCalc(24);
          top: remCalc(240);

          a {
            position: relative;
            display: block;
            font-family: $en;
            font-size: responsiveClamp(14, 16, 768, 1280);
            font-weight: 500;
            text-transform: capitalize;
            transition: all 0.3s $ease1;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              right: remCalc(-72);
              width: remCalc(48);
              height: 1px;
              background-color: $green;
              scale: 0 1;
              translate: 0 -50%;
              transform-origin: right top;
              transition: scale 0.3s $ease1;

              @include mq(lg) {
                right: remCalc(-56);
                width: remCalc(40);
              }
            }

            &:hover {
              color: $green;

              &::before {
                scale: 1 1;
                transform-origin: left top;
              }
            }
          }

          .current {
            a {
              color: $green;

              &::before {
                scale: 1 1;
              }
            }
          }
        }
      }

      &__hero {
        margin-bottom: responsiveClamp(96, 200, 375, 1280);
        white-space: wrap;

        &__copy {
          margin-bottom: responsiveClamp(40, 64, 375, 1280);
          font-family: $jp;
          font-size: responsiveClamp(32, 48, 375, 1280);
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 0.08em;
          word-break: keep-all;
        }

        &__text {
          font-family: $jp;
          font-size: responsiveClamp(13, 16, 375, 1280);
          line-height: 2.25;
          text-align: justify;
        }
      }

      &__container {
        scroll-margin-top: remCalc(100);
        margin-bottom: responsiveClamp(128, 200, 375, 1280);

        &:last-child {
          margin-bottom: 0;
        }

        &__title {
          @include smallTitle;
          margin-bottom: remCalc(24);
        }

        &__text {
          margin-bottom: remCalc(48);
          font-family: $jp;
          font-size: responsiveClamp(13, 14, 375, 1280);
          text-align: justify;
        }

        &__subheading {
          margin-bottom: remCalc(14);
          font-family: $jp;
          font-size: responsiveClamp(18, 20, 375, 1280);
          font-weight: 500;
          line-height: 1.5;
        }

        &__example {
          display: grid;
          grid-template-columns: repeat(2, calc(100%/2));
          justify-content: space-between;
          column-gap: remCalc(24);

          @include mq(xl) {
            grid-template-columns: repeat(2, responsiveClamp(148, 250, 375, 1280));
          }

          &__img {
            position: relative;
            width: 100%;
            height: responsiveClamp(88, 240, 375, 1280);
            margin-bottom: responsiveClamp(12, 16, 375, 1280);
            border-radius: 4px;
            overflow: hidden;

            &::before {
              content: "";
              position: absolute;
              inset: 0;
              background-color: $offWhite;
              scale: 1 1;
              transform-origin: top left;
              transition: all 0.5s $ease1;
              z-index: 2;
            }

            &.view {
              &::before {
                scale: 1 0;
              }
            }

            img {
              height: 100%;
              object-fit: cover;
              transition: all 0.5s $ease1;
            }

            &:hover img {
              scale: 1.1;
            }
          }

          h5 {
            margin-left: responsiveClamp(2, 8, 375, 1280);
            font-family: $jp;
            font-size: responsiveClamp(13, 14, 375, 1280);
            font-weight: 500;
            line-height: 1.5;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }

    &__breadcrumbs {
      @include breadcrumbs;
      position: absolute;
      top: responsiveClamp(120, 152, 375, 1280);
      right: responsiveClamp(24, 32, 640, 1280);
      margin: 0;
      rotate: 90deg;
    }
  }
}
