@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

[data-page="service"] {
  .service {
    display: block;
    gap: 0;
    margin: 0;

    position: relative;
    padding: rem(152) rem(144) rem(200);

    &__title {
      @include title;
      margin-bottom: rem(40);
    }

    &__wrapper {
      display: flex;
      justify-content: flex-start;
      column-gap: rem(280);

      &__nav {
        padding: rem(32) 0 0 rem(64);
        height: 100%;

        &__list {
          position: sticky;
          display: flex;
          flex-direction: column;
          row-gap: rem(24);
          top: rem(240);

          a {
            position: relative;
            font-family: $en;
            font-size: rem(16);
            font-weight: 500;
            text-transform: capitalize;
            transition: all 0.3s $ease1;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: rem(-2);
              width: 100%;
              height: 1px;
              background-color: $green;
              scale: 0 1;
              transform-origin: right top;
              transition: scale 0.3s $ease1;
            }

            &:hover {
              color: $green;

              &::before {
                scale: 1 1;
                transform-origin: left top;
              }
            }
          }
        }
      }

      &__hero {
        margin-bottom: rem(200);

        &__copy {
          margin-bottom: rem(64);
          font-family: $jp;
          font-size: rem(48);
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 0.08em;
        }

        &__text {
          font-family: $jp;
          font-size: rem(15);
          line-height: 2.25;
        }
      }

      &__container {
        scroll-margin-top: rem(100);
        margin-bottom: rem(200);

        &:last-child {
          margin-bottom: 0;
        }

        &__title {
          @include smallTitle;
          margin-bottom: rem(24);
        }

        &__text {
          margin-bottom: rem(48);
          font-family: $jp;
          font-size: rem(14);
        }

        &__subheading {
          margin-bottom: rem(14);
          font-family: $jp;
          font-size: rem(20);
          font-weight: 500;
          line-height: 1.5;
        }

        &__example {
          display: flex;
          column-gap: rem(32);

          &__img {
            height: rem(240);
            margin-bottom: rem(16);
            border-radius: 4px;
            overflow: hidden;

            img {
              height: 100%;
              object-fit: cover;
              transition: all 0.5s $ease1;
            }

            &:hover img {
              scale: 1.1;
            }
          }

          a {
            width: calc(100%/2);

            h5 {
              margin-left: rem(8);
              font-family: $jp;
              font-size: rem(16);
              font-weight: 500;
            }
          }
        }
      }
    }

    &__breadcrumbs {
      @include breadcrumbs;
      position: absolute;
      top: rem(152);
      right: rem(32);
      margin: 0;
      rotate: 90deg;
    }
  }
}
