@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

[data-page="works"] {
  .works {
    padding: responsiveClamp(120, 152, 375, 1280) responsiveClamp(32, 144, 375, 1280) 0;

    &__title {
      margin-bottom: responsiveClamp(56, 72, 375, 1280);
    }

    &__grid {
      &__content {
        &:nth-child(n+7) {
          display: block;
        }

        @include mq(sm) {
          &:nth-child(n+5) {
            display: block;
          }
        }
      }
    }

    &__breadcrumbs {
      @include breadcrumbs;
      position: absolute;
      top: responsiveClamp(120, 152, 375, 1280);
      right: responsiveClamp(24, 32, 640, 1280);
      margin: 0;
      rotate: 90deg;
    }
  }
}
