@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

[data-page="works"] {
  .works {
    padding: remCalc(152) remCalc(144) 0;

    &__title {
      margin-bottom: remCalc(72);
    }

    &__grid {
      gap: remCalc(72) remCalc(48);

      &__content {
        &:nth-child(n+7) {
          display: block;
        }
      }
    }

    &__breadcrumbs {
      @include breadcrumbs;
      position: absolute;
      top: remCalc(152);
      right: remCalc(32);
      margin: 0;
      rotate: 90deg;
    }
  }
}
