@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

.worksLower {
  position: relative;
  margin-bottom: remCalc(200);
  padding: remCalc(48) remCalc(144) 0;

  >img:first-child {
    width: 100%;
    object-fit: cover;

    &.short {
      height: remCalc(600);
    }
  }

  &__head {
    margin: remCalc(64) 0 remCalc(72) remCalc(64);
    line-height: 1.5;

    &__client {
      font-family: $jp;
      font-size: remCalc(14);
      font-weight: 500;
    }

    &__title {
      margin: remCalc(16) 0 remCalc(12);
      font-family: $jp;
      font-size: remCalc(28);
      font-weight: 500;
      letter-spacing: 0.1em;
    }

    &__category {
      font-family: $en;
      font-size: remCalc(12);
      opacity: 0.5;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    row-gap: remCalc(40);
    margin-left: remCalc(64);

    div {
      display: flex;
      column-gap: remCalc(56);

      dt {
        font-family: $en;
        font-size: remCalc(13);
        font-weight: 400;
        text-transform: capitalize;
        opacity: 0.5;
      }

      dd {
        font-family: $jp;
        font-size: remCalc(14);

        a {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 1px;
            background-color: $black;
            scale: 1 1;
            transform-origin: left top;
            transition: scale 0.5s $ease1;
          }

          &:hover {
            &::before {
              scale: 0 1;
              transform-origin: right top;
            }
          }
        }
      }
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    row-gap: remCalc(64);
    margin-top: remCalc(80);
    padding: 0 remCalc(64);

    iframe {
      width: 100%;
      height: remCalc(672);
    }

    &__side {
      display: flex;
      column-gap: remCalc(24);

      img {
        width: calc(100%/2);
        object-fit: cover
      }
    }
  }

  &__btn {
    @include btn;
    margin: remCalc(64) auto 0;
    padding: remCalc(24) remCalc(120);
    font-size: remCalc(24);
  }

  &__breadcrumbs {
    @include breadcrumbs;
  }
}
