@charset "UTF-8";

//////////////////////////////
// color
//////////////////////////////
$black: #222;
$white: #fff;
// $green: #3eb497;
$green: linear-gradient(90deg, #008ecb, #00a4d8, #00b9d4, #00ccbf, #00db9c, #58e771, #b0ee40, #ffee00);
$gray: #f5f5f5;
$offWhite: #f9f9f9;

//////////////////////////////
// font
//////////////////////////////
$en: "Poppins",
  "Helvetica Neue",
  "Helvetica",
  "Hiragino Sans",
  "Hiragino Kaku Gothic ProN",
  "Arial",
  "Yu Gothic",
  "Meiryo",
  sans-serif;
$jp: "Noto Sans JP",
  "Helvetica Neue",
  "Helvetica",
  "Hiragino Sans",
  "Hiragino Kaku Gothic ProN",
  "Arial",
  "Yu Gothic",
  "Meiryo",
  sans-serif;

//////////////////////////////
// ease
//////////////////////////////
$ease1: cubic-bezier(0.33, 1, 0.68, 1);
