@charset "UTF-8";
@use "../../global/" as *;

.blindfold {
  pointer-events: none;
  position: fixed;
  display: flex;
  inset: 0;
  top: 100%;
  z-index: 9999;

  &__item {
    width: calc(100%/7);
    background: $green;
  }
}
