@charset "UTF-8";
@use "../../global/" as *;

.footer {
  display: grid;
  grid-template-areas:
    "logo nav"
    "sns  copyright"
  ;
  justify-content: space-between;
  padding: remCalc(72) responsiveClamp(40, 144, 375, 1280) responsiveClamp(48, 80, 375, 1280);
  font-family: $en;

  @include mq(lg) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @include mq(sm) {
    display: grid;
    grid-template-areas:
      "logo logo"
      "nav  sns"
      "nav  copyright"
    ;
    grid-template-rows: auto 1fr auto;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__logo {
    grid-area: logo;
    width: remCalc(144);
  }

  &__sns {
    grid-area: sns;
    display: flex;
    column-gap: remCalc(24);
    margin-top: remCalc(40);

    a {
      transition: all 0.3s $ease1;

      img {
        width: responsiveClamp(20, 24, 375, 1280);
        height: responsiveClamp(20, 24, 375, 1280);
        object-fit: cover;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    @include mq(lg) {
      justify-self: flex-end;
    }
  }

  &__nav {
    grid-area: nav;
    align-self: center;

    @include mq(lg) {
      align-self: flex-start;
      margin-top: remCalc(32);
    }

    &__list {
      display: flex;
      column-gap: remCalc(48);

      @include mq(sm) {
        flex-direction: column;
        row-gap: remCalc(8);
      }

      a {
        font-size: remCalc(14);
        text-transform: capitalize;
        transition: all 0.3s $ease1;

        @include mq(lg) {
          font-size: remCalc(16);
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  &__copyright {
    grid-area: copyright;
    justify-self: end;
    margin-top: remCalc(40);
    font-size: remCalc(12);

    @include mq(lg) {
      justify-self: start;
      margin-top: remCalc(16);
    }
  }
}
